@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), local("OpenSans-Regular"), url("OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans Medium"), local("OpenSans-Medium"), url("OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("OpenSans-Bold.ttf") format("truetype");
}