<ion-content [fullscreen]="true">
  <main class="content">
    <img class="logo" src="assets/imgs/logo.svg" alt="Logo Thera">
    <form class="login-form" action="">
      <div class="input-container">
        <img class="input-icon" src="assets/icon/user.svg" alt="user-icon">
        <input type="email" placeholder="Usuário">
      </div>
      <div class="input-container">
        <img class="input-icon" src="assets/icon/key.svg" alt="user-icon">
        <input type="password" placeholder="Senha">
      </div>
      <button class="btn-submit" type="submit">LOGIN</button>
    </form>
  </main>
</ion-content>
